body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    min-width: 319px;
    background-color: #ff5f75;
}


.loading {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ff5f75;
    opacity: 1;
    transition: visibility 2s, opacity 2s ease-out;

    visibility: visible;

    .content {
        background-color: transparent;
        max-width: 90%;
        width: 400px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, 0%);

    }
}

.loading.fade {
    opacity: 0;
    visibility: hidden;

}

#map {
    height: 100%;
    position: relative;
}



.content-container {
    height: calc(100vh - 4.2em);
    position: relative;
    z-index: 0;
    padding: 1px 0 0 0;
}

.content {
    background-color: white;
    padding: 0.5em;
    position: relative;
    height: 100%;
}


.navbar {
    max-width: 800px;
    width: 100%;
    display: inline-grid;
    height: 3em;
    grid-template-columns: min-content auto 3em 3em 3em 3em 3em;
}



.navbar-icon {
    background-color: white;
    border-radius: 10px;
    height: 2.5em;
    margin: auto;
    width: 2.5em;
    position: relative;

    img {
        /* width: 100%; */
        height: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


}

.navbar-link {
    background-color: white;
    border-radius: 10px;
    height: 2.5em;
    margin: auto;
    width: 2.5em;
    position: relative;

    img {
        /* width: 100%; */
        height: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


}

.navbar-link:hover {
    background-color: rgb(179, 255, 0);
}

.navbar-link:active {
    color: rgb(255, 0, 179);

}

.navbar-link[aria-current="page"] {
    background-color: rgb(134, 217, 255);
}