body {
    height: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 0;

    min-width: 320px;
    background-color: #ff5f75;
}


.loading {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #ff5f75;
    transition: height 3s, visibility 1.5s, opacity 1.5s ease-out;
    opacity: 0;
    visibility: hidden;

    .content {
        background-color: transparent;
        max-width: 90%;
        width: 400px;
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 50%);

    }
}

.searchbar {
    display: grid;
    height: 2.8em;
    grid-template-columns: 5px auto 0px;
    grid-template-rows: auto;
    grid-template-areas:
        ". search .";

    .search {
        grid-area: search;
        height: 2.5em
    }
}


.loading.visible {
    opacity: 1;
    visibility: visible;
    height: 100%;

}

#map {
    border-radius: 10px 10px 0 0;
    height: calc(100vh - 11vh);
    margin-bottom: 0;
    position: relative;
}



.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "navbar"
        "content";
    height: 100vh;
}



.content {
    grid-area: content;
    height: 100%;
}


.navbar {
    grid-area: navbar;
    margin: 2px 5px 0px 5px;

    display: inline-grid;
    height: 3em;
    grid-template-columns: min-content auto 3em 3em 3em 3em;
}



.navbar-icon {
    background-color: white;
    border-radius: 10px;
    height: 2.5em;
    margin: auto;
    width: 2.5em;
    position: relative;

    img {
        /* width: 100%; */
        height: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


}

.navbar-link {
    background-color: white;
    border-radius: 10px;
    height: 2.5em;
    margin: auto;
    width: 2.5em;
    position: relative;

    img {
        /* width: 100%; */
        height: 85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }


}

.navbar-link:hover {
    background-color: rgb(179, 255, 0);
}

.navbar-link:active {
    color: rgb(255, 0, 179);

}

.navbar-link[aria-current="page"] {
    background-color: rgb(134, 217, 255);
}

.list-item {
    border: black;
    display: grid;
    border-style: dashed;
    background-color: rgb(134, 217, 255);
    grid-template-columns: 5em 0.5em auto;
    grid-template-rows: auto;
    grid-template-areas:
        "image . title"
        "image . description"
        "image . description"
        "image . description"
        "pills pills pills";
    margin: 0px 5px 10px 5px;
    padding: 5px;
    border-radius: 5px;

    .image {
        grid-area: image;
        width: 5em;
        border-radius: 10px 0px 0px 10px;
        margin-right: 5px;
    }


    .title {
        grid-area: title;
        font-weight: bold;
        font-size: medium;
        text-transform: capitalize;
    }

    .description {
        font-size: medium;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-transform: capitalize;
        grid-area: description;
        vertical-align: top;
        text-align: left;
        height: 4em;
        margin-bottom: 5px;
    }

    .pills {
        grid-area: pills;
        display: flex;
        align-items: flex-start;
    }
}

.pill {
    background-color: #ff5f75;

    font-size: medium;
    border-radius: 5px;
    height: 1.5em;
    min-width: fit-content;
    overflow: hidden;
    margin: 5px 10px 0 0px;
    padding: 0 5px 0 5px;
    text-align: center;

    img {
        width: 1em;
        margin-left: 5px;
        margin-top: 2px;

    }
}


.new-item-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2.5em;
    grid-template-areas:
        "preview"
        "trigger"
    ;
    margin: 0px 5px 10px 5px;
    padding: 5px;
    row-gap: 5px;

}

.preview-container {
    border-style: dashed;
    border-radius: 5px;
    display:none;
   
}
.preview-container.visible {
    display: flex;
}

.preview {
    width: 100%;
   
}

.trigger {
    position: "absolute";
    height: 2.5em;
    width: 100%;

    img {
        height: 2em;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translate(-0%, -50%);
    }
}